@model EntityLayer.Concrete.Message
@{
    ViewBag.Title = "NewMessage";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>NewMessage</h2>
!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Graphomania Mesaj Paneli</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <!-- Theme style -->
    <!-- summernote -->
    <link href="~/Mvc Proje Tema/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.css" rel="stylesheet" />
    <link href="~/Mvc Proje Tema/AdminLTE-3.0.4/dist/css/adminlte.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link href="~/Mvc Proje Tema/AdminLTE-3.0.4/docs/assets/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/Mvc Proje Tema/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.css" rel="stylesheet" />
    <script src="~/Mvc Proje Tema/AdminLTE-3.0.4/plugins/summernote/summernote.min.js"></script>
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

</head>
<body>


    <div class="row">
        @Html.Action("MessageListMenu", "WriterPanelMessage")
        <div class="col-md-8">
            @using (Html.BeginForm(" NewMessage", "WriterPanelMessage", FormMethod.Post))
            {
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Yeni Mesaj Oluştur</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="form-group">
                            @Html.Label("Alıcı Adı")
                            @Html.TextBoxFor(x => x.ReciverMail, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.ReciverMail)
                        </div>
                        <div class="form-group">
                            @Html.Label("Konu")
                            @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Subject)
                        </div>
                        @Html.Label("Mesajınız")
                        <textarea id="compose-textarea" name="MessageContent" class="form-control"></textarea>
                        <div class="form-group">
                            <div class="btn btn-default btn-file">
                                <i class="fas fa-paperclip"></i> Görsel Ekle
                                <input type="file" name="attachment">
                            </div>
                            <p class="help-block">Max. 32MB</p>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="float-right">
                            <button type="button" class="btn btn-default"><i class="fas fa-pencil-alt"></i>Taslak Olarak Kaydet</button>
                            <button type="submit" class="btn btn-primary"><i class="far fa-envelope"></i>Gönder</button>
                        </div>
                        <button type="reset" class="btn btn-default"><i class="fas fa-times"></i>Sil</button>
                    </div>
                    <!-- /.card-footer -->
                </div>
            }
        </div>
    </div>




    <script src="~/Mvc Proje Tema/AdminLTE-3.0.4/docs/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Mvc Proje Tema/AdminLTE-3.0.4/docs/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Mvc Proje Tema/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Mvc Proje Tema/AdminLTE-3.0.4/dist/js/demo.js"></script>
    <!-- Summernote -->
    <script src="~/Mvc Proje Tema/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- Page Script -->

    <script src="~/Mvc Proje Tema/plugins/summernote/summernote-bs4.min.js"></script>

    <script>
        $(function () {
            //Add text editor
            $('#compose-textarea').summernote()
        })
    </script>
</body>
</html>

